{% extends 'layouts/base.html' %}
    {% block content %}
        <div class="home d-flex flex-row justify-content-between align-items-center">
            <div>
                <h2>ML Exo</h2>
                <p>Prédiction des personnes qui quitterons leur service de carte bancaire</p>
                <p>Algorithme de prédiction basé sur le <b>RandomForestClassifier</b></p>
                <p>Un responsable d’une banque souhaite réduire le nombre de clients qui <br> quittent leurs services de carte de crédit. Il aimerait pouvoir anticiper le <br>départ des clients afin de leur fournir de meilleurs services et ainsi les retenir.</p>
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('get_in_db') }}" type="button" class="btn btn-primary btn-lg">Prédiction Multiple</a>
                    <a href="{{ url_for('get_unique') }}" type="button" class="btn btn-secondary btn-lg">Prédiction Unique</a>
                </div>
                <div class="d-flex justify-content-between mt-4 pt-4">
                    <p class="text-center">
                        <span class="h1">8k+</span><br> <small>Données d'entrainements</small>
                    </p>
                    <p class="text-center">
                        <span class="h1">97%</span><br> <small>précision globale</small>
                    </p>
                    <p class="text-center">
                        <span class="h1">99%</span><br> <small>sensibilité</small>
                    </p>
                </div>
            </div>
            <img src="{{ url_for('static', path='bg_home.svg') }}"/>
        </div>
    {% endblock %}
